[submodule "third_party/yaml-cpp"]
	path = third_party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "third_party/TransInterface"]
	path = third_party/TransInterface
	url = https://github.com/umichan0621/TransInterface
[submodule "third_party/glog"]
	path = third_party/glog
	url = https://github.com/google/glog
[submodule "third_party/mecab"]
	path = third_party/mecab
	url = https://github.com/umichan0621/mecab
